*{
    margin: 0;
    padding: 0;
}
body{
    width: 1024px;
    height: 1024px;
}
/*header*/

header{
    width: 100%;
    height: 10%;
}

#header-left, #header-right{
    width: 49%;
    height: 100%;
}
/*main*/
main{
    width: 100%;
    height:65%;/*40% main 25% links*/
}

#main-content{
    width: 100%;
    height: 70%;
}

#photos{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.photo-size{
    width: 32%;/*100% / 3 image and a little of space*/
    height: 98%;
}

/*footer*/
footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.reference-size{
    width: 24%;/*100% / 4 references and a little of space*/
    height: 100%;
}


/*utils */
.center{
    margin: 0.5em auto;
}

.background-orange{
    background-color: orange;
}

.background-green{
    background-color: greenyellow;
}

.background-blue{
    background-color: blue;
}

.background-grey{
    background-color: grey;
}

.text-center{
    text-align: center;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.display-inline{
    display: inline;
}